<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.netrooter.dao.DevNtwTopoMapper" >
  <resultMap id="BaseResultMap" type="com.phicomm.netrooter.model.DevNtwTopo" >
    <id column="deviceId" property="deviceid" jdbcType="VARCHAR" />
    <id column="topoGroupId" property="topogroupid" jdbcType="VARCHAR" />
    <result column="metricList" property="metriclist" jdbcType="VARCHAR" />
    <result column="publicIpAddr" property="publicipaddr" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    deviceId, topoGroupId, metricList, publicIpAddr
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.phicomm.netrooter.model.DevNtwTopoKey" >
    select 
    <include refid="Base_Column_List" />
    from dev_ntw_topo
    where deviceId = #{deviceid,jdbcType=VARCHAR}
      and topoGroupId = #{topogroupid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.phicomm.netrooter.model.DevNtwTopoKey" >
    delete from dev_ntw_topo
    where deviceId = #{deviceid,jdbcType=VARCHAR}
      and topoGroupId = #{topogroupid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.phicomm.netrooter.model.DevNtwTopo" >
    insert into dev_ntw_topo (deviceId, topoGroupId, metricList, 
      publicIpAddr)
    values (#{deviceid,jdbcType=VARCHAR}, #{topogroupid,jdbcType=VARCHAR}, #{metriclist,jdbcType=VARCHAR}, 
      #{publicipaddr,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.phicomm.netrooter.model.DevNtwTopo" >
    insert into dev_ntw_topo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceid != null" >
        deviceId,
      </if>
      <if test="topogroupid != null" >
        topoGroupId,
      </if>
      <if test="metriclist != null" >
        metricList,
      </if>
      <if test="publicipaddr != null" >
        publicIpAddr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceid != null" >
        #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="topogroupid != null" >
        #{topogroupid,jdbcType=VARCHAR},
      </if>
      <if test="metriclist != null" >
        #{metriclist,jdbcType=VARCHAR},
      </if>
      <if test="publicipaddr != null" >
        #{publicipaddr,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phicomm.netrooter.model.DevNtwTopo" >
    update dev_ntw_topo
    <set >
      <if test="metriclist != null" >
        metricList = #{metriclist,jdbcType=VARCHAR},
      </if>
      <if test="publicipaddr != null" >
        publicIpAddr = #{publicipaddr,jdbcType=INTEGER},
      </if>
    </set>
    where deviceId = #{deviceid,jdbcType=VARCHAR}
      and topoGroupId = #{topogroupid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phicomm.netrooter.model.DevNtwTopo" >
    update dev_ntw_topo
    set metricList = #{metriclist,jdbcType=VARCHAR},
      publicIpAddr = #{publicipaddr,jdbcType=INTEGER}
    where deviceId = #{deviceid,jdbcType=VARCHAR}
      and topoGroupId = #{topogroupid,jdbcType=VARCHAR}
  </update>
</mapper>