<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.netrooter.dao.LiveInfoMapper" >
  <resultMap id="BaseResultMap" type="com.phicomm.netrooter.model.LiveInfo" >
    <id column="resourceId" property="resourceid" jdbcType="VARCHAR" />
    <result column="provider" property="provider" jdbcType="VARCHAR" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    resourceId, provider, filename, location, time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from live_info
    where resourceId = #{resourceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from live_info
    where resourceId = #{resourceid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.phicomm.netrooter.model.LiveInfo" >
    insert into live_info (resourceId, provider, filename, 
      location, time)
    values (#{resourceid,jdbcType=VARCHAR}, #{provider,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.phicomm.netrooter.model.LiveInfo" >
    insert into live_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resourceid != null" >
        resourceId,
      </if>
      <if test="provider != null" >
        provider,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resourceid != null" >
        #{resourceid,jdbcType=VARCHAR},
      </if>
      <if test="provider != null" >
        #{provider,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phicomm.netrooter.model.LiveInfo" >
    update live_info
    <set >
      <if test="provider != null" >
        provider = #{provider,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where resourceId = #{resourceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phicomm.netrooter.model.LiveInfo" >
    update live_info
    set provider = #{provider,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where resourceId = #{resourceid,jdbcType=VARCHAR}
  </update>
</mapper>